<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css">
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/education">Education</a></li>
          <li><a href="/hobbies">Hobbies</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
        </ul>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img  width="200%" height="200%" src="./static/img/avatar.svg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <div class="block">
        <img width="20%" height="20%" src="./static/img/portrait.svg">
        <div class="text">
            <h2>
                TL;DR
            </h2>
            <h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi accusantium libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum vero expedita illum eum quod?
            </h3>
        </div>       
    </div>
</body>
</html>